@keyframes shine1 {
    0% {
        color: green; /* Start with green color */
        text-shadow: none; /* No shadow */
    }
    50% {
        color: lightgreen; /* Transition to light green color */
        text-shadow: 0 0 5px rgba(144, 238, 144, 0.5); /* Glowing shadow */
    }
    100% {
        color: green; /* Back to green color */
        text-shadow: none; /* No shadow */
    }
  }


body{
    
    background-repeat: no-repeat;
    background-size: cover;
}
.blur{
    
    
   
    margin-top: 10%;
height: 380pt;
width: 300pt;
backdrop-filter: blur(20px);
background-color: transparent;
box-shadow: 0 0 20px rgba(52, 152, 219, 0.5);
overflow: hidden;

}
.best{
    color: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
   
    margin-left: -120pt;
    margin-top: 10pt;
    font-size: 25px;
    animation: shine1 2s infinite;
}
       
.button{
    color: rgb(8, 245, 253); 
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2980b9;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

    
}

.button1{
    color: rgb(8, 245, 253); 
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2980b9;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

}
